*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}

body {
    overflow-x: hidden;
  }

.container{
    width: 100%;
    position: relative;
    background-color: #f5f5fa;
}

/* DIV 1- BARRA DE NAVEGAÇÃO*/
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 20rem;
    line-height: 20rem;
    margin-top: -5rem;
    margin-bottom: -5rem;
    background-color: #f5f5fa;
    z-index: 111;
    font-size: 1.2rem;
    font-weight: 800;
    color: #3D535F;
    letter-spacing: 1px;
    cursor: pointer;
}

.logo{
    display: flex;
    font-size: 20px;
    font-weight: 800;
    color: #3D535F;
    letter-spacing: 3px;
    cursor: pointer;

}

/* DIV 2- CARROSSEL*/
.cont2{
    position: relative;
    left: 50%;
    margin-left: -30rem;
}

.carrossel{
    display: flex;
    position: relative;
    width: 60rem;
    height: 30rem;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.carrossel img{
    width: 100%;
    height: 100%;
    position: sticky;
    left: 0;
    flex-shrink: 0;
    object-fit: cover;
    scroll-behavior: smooth;
}

/* DIV 3- EXEMPLOS*/

.cont3{
    position: relative;
    top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 10rem;

}
.cont3 h1{
    font-size: 2rem;
    font-weight: 800;
    color:#0c0c0f;
}
.cont3 p{
    font-size: 1rem;
    font-weight: 400;
}
.cont3 .imgcontainer{
    width: 20rem;
    height: 30rem;
    overflow: hidden;
}

#item1{
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    padding-bottom: 1rem;
    overflow: hidden;
}

#item1 img{
    position: relative;
    width: 20rem;
    height: 30rem;
    object-fit: cover;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
#item1 img:hover{
    -webkit-transform: scale(1.5) rotate(-5deg);
    transform: scale(1.5) rotate(-5deg);

}

#item2{
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    padding-bottom: 1rem;
}

#item2 img{
    position: relative;
    width: 20rem;
    height: 30rem;
    object-fit: cover;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
#item2 img:hover{
    -webkit-transform: scale(1.5) rotate(5deg);
    transform: scale(1.5) rotate(5deg);
}

#item3{
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    padding-bottom: 1rem;
}

#item3 img{
    position: relative;
    width: 20rem;
    height: 30rem;
    object-fit: cover;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
#item3 img:hover{
    -webkit-transform: scale(1.5) rotate(-5deg);
    transform: scale(1.5) rotate(-5deg);

}

#item4{
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    padding-bottom: 1rem;
}

#item4 img{
    position: relative;
    width: 20rem;
    height: 30rem;
    object-fit: cover;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
#item4 img:hover{
    -webkit-transform: scale(1.5) rotate(5deg);
    transform: scale(1.5) rotate(5deg);

}

#item5{
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    padding-bottom: 1rem;
}

#item5 img{
    position: relative;
    width: 20rem;
    height: 30rem;
    object-fit: cover;
    object-position: 0 0;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
#item5 img:hover{
    -webkit-transform: scale(1.5) rotate(-5deg);
    transform: scale(1.5) rotate(-5deg);

}

#item6{
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    padding-bottom: 1rem;
}

#item6 img{
    position: relative;
    width: 20rem;
    height: 30rem;
    object-fit: cover;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
#item6 img:hover{
    -webkit-transform: scale(1.5) rotate(5deg);
    transform: scale(1.5) rotate(5deg);

}

/* DIV 4- INFINITE SCROLLING TEXT*/
  
  .cont4 {
    display: flex;
    align-items: center;
    position: relative;
    top: 5rem;
    overflow: hidden;
  }
  
  .scroll {
    white-space: nowrap;
    margin: 0 5rem;
  }
  
  .scroll div {
    display: flex;
    gap: 2rem;
  }
  
  .scroll .LeftToRight p {
    font-size: 7rem;
    color: rgba(99, 99, 99, 0.24);
    margin-bottom: 2rem;
    line-height: 1rem;
  }
  .scroll .RightToLeft p {
    font-size: 5rem;
    color: #0c0c0f;
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 5rem;
  }
  
  .RightToLeft {
    animation: RightToLeft 20s infinite linear;
  }
  
  @keyframes  RightToLeft {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  .LeftToRight {
    animation: LeftToRight 18s infinite linear;
  }
  
  @keyframes  LeftToRight {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
  }

  /* DIV 5- FOTO E TEXTO MOTIVACIONAL*/

  .cont5{
    display: flex;
    position: relative;
    top: 10rem;
    margin-left: 10rem;
    margin-right: 10rem;
    padding-bottom: 10rem;
  }
  .contfoto{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contfoto img{
    position: relative;
    height: 10rem;
    width: 9rem;
    border-radius: 50%;
    filter: brightness(125%);
  }
  .contfoto p{
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: #0c0c0f;
  }

  .conttexto{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .conttexto p{
    position: relative;
    font-size: 1.3rem;
    font-weight: 400;
    margin-inline: 2rem;
    text-align: justify;
    color: #0c0c0f;
  }

  /* DIV 6- Rodapé*/

  .cont6{
    display: flex;
    position: relative;
    background-color: #2700a9;
    top:10rem;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.2rem;
    font-weight: 800;
    color: #f5f5fa;

  }

  .cont6 .lista{
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
  }
  .cont6 img{
    height: 25rem;
    clip-path: 10rem;
    cursor: pointer;
  }
  .cont6 p {
    cursor: pointer;
  }
